<html layout:decorate="~{layout}">

<div layout:fragment="left-content">
    <div th:replace="~{member/mypage_left_content.html::MyPageLeftContentFragment}"></div>
</div>

<div layout:fragment="content" class="container my-3">
    <div th:if="${menu==0}">
        <div th:replace="~{member/user_profile_content::UserProfileContentFragment}">

        </div>
    </div>

    <div th:if="${menu==1}">
        <div th:replace="~{member/user_account_content::UserAccountContentFragment}"></div>
    </div>

</div>


</html>