.nav-link:hover {
    color: #0090f9;
    background: #e0edf9;
}

.nav-link{
    color:#7a7a7a;
}


.nav-link.active
{
    color: #0090f9;
    background: #e0edf9;
}

.navbar-nav
{
    color: #0090f9;
}

.mt-5r
{
    margin-top: 5rem;
}

a{
    text-decoration-line: none;
    color: #0090f9;
}
.btn-outline-ras
{
    border-color: #d6d6d6;
    width: 10rem;
}

.btn-sm-noneoutline-ras
{
    border-radius: 1rem;
    width: 1.5rem;
}

.btn-sm-noneoutline-ras:hover
{
    background: #e0edf9;
}

.btn-large-ras
{
    width: 14rem;
    height: 7rem;
}

.btn-outline-ras:hover{
    border-color: #646467;
}

.btn-primary{
    background: #0090f9;
    border-color: #0090f9;
}


.font-700
{
    font-weight: 700;
    color:#4b4b4f;
}

.font-400
{
    font-weight: 400;
    color:#4b4b4f;
}

.font-english
{
    letter-spacing: 4px;
}

.left-content
{
    width: 16%;
}

.main-content
{
    width: 70%;
}

.fixed {
    position: fixed;
    top: 6rem;
    height: 100%;
}

.fixed-side-menu
{
    width: 10rem;
}

.line {
    display:flex;
    flex-basis:100%;
    align-items:center;
    color:rgba(0,0,0,0.8);
    font-size:14px;
    margin:8px 0px;
}
.line::before{
    content:"";
    flex-grow:1;
    margin-right: 10px;
    background:rgba(0,0,0,0.2);
    height:1px;
    font-size:0px;
    line-height: 0px;
}
.line::after {
    content:"";
    flex-grow:1;
    margin-left: 10px;
    background:rgba(0,0,0,0.2);
    height:1px;
    font-size:0px;
    line-height: 0px;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 0.3px;
}

.tagify--outside{

    width: 100%;
}

.tagify--outside .tagify__input{
    margin: 0;
    border: 0;
    order: -1;
    flex: 100%;
    margin-bottom: 0.3em;
    transition: 1s;
    border-radius: 0.5rem;
}

.tagify--outside .tagify__input:hover{ border-color:var(--tags-hover-border-color); }
.tagify--outside.tagify--focus .tagify__input{
    transition:0s;
    border-color: var(--tags-focus-border-color);
}


.tag-link
{
    color:#1e2125;
}

.tag-link:hover
{
    color:#0090f9;
}


svg.text-gray-400
{
    color: rgb(128, 128, 128);
}

.btn-primary:disabled{
    background: rgba(0,142,255,0.42);
    border-color: rgba(0,142,255,0.1);
}

.text-ras
{
    color:#0090f9;
}
