<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style/bootstrap.min.css}">
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/@yaireo/tagify"></script>
    <!--<script src="https://unpkg.com/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>-->
    <link href="https://unpkg.com/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />

    <title>layout</title>
</head>
<body>

<nav th:replace="~{navbar::navbarFragment}"></nav>

<div class="d-flex container">
    <div class="left-content">
        <th:blck layout:fragment="left-content"></th:blck>
    </div>

    <div class="main-content" style="height: 200vh">
        <!-- 기본 템플릿 안에 삽입될 내용 Start -->
        <th:block layout:fragment="content"></th:block>
        <!-- 기본 템플릿 안에 삽입될 내용 End -->
    </div>
</div>


<script th:src="@{/style/bootstrap.min.js}"></script>

<!-- 자바스크립트 Start -->
<th:block layout:fragment="script"></th:block>
<!-- 자바스크립트 End -->

</body>
</html>