<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
        <a class="navbar-brand col--1 mb-2 mb-md-0" href="/">RASGULLA</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navba1rSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/signup}">회원가입</a>
                </li>
                <li>
                    <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/category/create}">관리자</a>
                </li>
                <li>
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/member/mypage}">마이페이지</a>
                </li>
                <li class="nav-item">
                    <div style="position: relative; width: 2.5rem; height: 2.5rem;" id = "image_container">
                        <a sec:authorize="isAuthenticated()" class="nav-link" href="/member/mypage">
                            <img th:src="@{|/myimg/${member}|}" alt="에러" class="shadow-sm rounded-circle text-center"
                                 style="position: absolute; top: 0; left: 0; transform: translate(50,50); height: 100%; width:100%; object-fit: cover; margin: auto">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>