<div th:fragment="QandALeftContentFragment" class="fixed">

    <div class="d-flex flex-lg-column">
        <div class="btn mt-5 border border-1 rounded-4 fixed-side-menu">
            <div class="border-bottom p-2 text-center">
                <span class="font-700">#Hot Tag</span>
            </div>

            <ul class="nav flex-column mb-auto text-start">
                <li class="my-2 nav-item d-flex justify-content-between" th:each="tag, loop : ${hotTag}">
                    <div>
                        <a class="tag-link" th:href="@{|/taged/list/${tag.name}|}" th:text="@{|#${tag.name}|}"></a>
                    </div>
                    <div class="ms-4">
                        <span class="navbar-nav" th:text="${hotTagCount.get(loop.index)}"></span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="btn mt-3 border border-1 rounded-4 fixed-side-menu">
            <div class="border-bottom p-2 text-center">
                <span class="font-700">Top User</span>
            </div>

            <ul class="nav flex-column mb-auto text-start">
                <li class="my-2 nav-item d-flex justify-content-between" th:each="user, loop : ${topUser}">
                    <div class="d-flex">
                        <div class="d-flex align-items-center me-1">
                            <div style="position: relative; width: 1.2rem; height: 1.2rem;" id="image_container_question"
                                 class="mt-1">
                                <img th:if="${user.snsImage}!=null" th:src="${user.snsImage}"
                                     alt="에러"
                                     class="shadow-sm rounded-circle text-center"
                                     style="position: absolute; top: 0; left: 0; transform: translate(50,50); height: 100%; width:100%; object-fit: cover; margin: auto">
                                <img th:if="${user.snsImage}==null and ${user.image}==null"
                                     th:src="@{/img/noneuser.png}" alt="에러"
                                     class="shadow-sm rounded-circle text-center"
                                     style="position: absolute; top: 0; left: 0; transform: translate(50,50); height: 100%; width:100%; object-fit: cover; margin: auto">
                                <img th:if="${user.snsImage}==null and ${user.image}!=null"
                                     th:src="@{|/resources/${user.image.name}|}" alt="에러"
                                     class="shadow-sm rounded-circle text-center"
                                     style="position: absolute; top: 0; left: 0; transform: translate(50,50); height: 100%; width:100%; object-fit: cover; margin: auto">
                            </div>
                        </div>

                        <a class="tag-link" href="#" th:text="@{|${user.nickName}|}"></a>
                    </div>


                    <div class="ms-4">
                        <span class="navbar-nav" th:text="${user.score}"></span>
                    </div>
                </li>
            </ul>

        </div>
    </div>

</div>