<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <!-- 질문 출력 -->
            <div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
            <div class="d-flex justify-content-end border-bottom py-2">
                <div class="d-flex">
                    <div class="d-flex align-items-center">
                        <div style="position: relative; width: 2.5rem; height: 2.5rem;" id="image_container_question">
                            <a class="nav-link" href="/member/mypage">
                                <img th:if="${question.member.snsImage}!=null" th:src="${question.member.snsImage}"
                                     alt="에러"
                                     class="shadow-sm rounded-circle text-center"
                                     style="position: absolute; top: 0; left: 0; transform: translate(50,50); height: 100%; width:100%; object-fit: cover; margin: auto">
                                <img th:if="${question.member.snsImage}==null and ${question.member.image}==null"
                                     th:src="@{/img/noneuser.png}" alt="에러"
                                     class="shadow-sm rounded-circle text-center"
                                     style="position: absolute; top: 0; left: 0; transform: translate(50,50); height: 100%; width:100%; object-fit: cover; margin: auto">
                                <img th:if="${question.member.snsImage}==null and ${question.member.image}!=null"
                                     th:src="@{|/resources/${question.member.image.name}|}" alt="에러"
                                     class="shadow-sm rounded-circle text-center"
                                     style="position: absolute; top: 0; left: 0; transform: translate(50,50); height: 100%; width:100%; object-fit: cover; margin: auto">
                            </a>
                        </div>
                    </div>

                    <div>
                        <div th:if="${question.modifyDate != null}"
                             class="badge bg-light text-dark p-2 text-start mx-3">
                            <div class="mb-2">수정시일</div>
                            <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>
                        <div class="badge bg-light text-dark p-2 text-start">
                            <div class="mb-2">
                        <span th:if="${question.member != null}"
                              th:text="${#strings.substring(question.member.username, 0, 3) + '****'}"></span>
                            </div>
                            <div th:text="${#temporals.format(question.createDate,'yyyy-MM-dd HH:mm:ss')}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 질문 추천 -->
            <div class="mt-3">
                <a href="javascript:void(0);" class="like btn btn-outline-secondary"
                   th:data-uri="@{|/board/like/${question.id}|}">
                    추천
                    <span class="badge rounded-pill bg-danger bg-opacity-75"
                          th:text="${#lists.size(question.likeMembers)}"></span>
                </a>

                <!-- 대댓글 아코디언 -->
                <button class="accordion btn btn-outline-secondary"
                        data-bs-toggle="collapse"
                        data-bs-target="#commentQuestion"
                        aria-controls="commentQuestion" aria-expanded="false">
                    댓글
                    <span class="badge rounded-pill bg-danger bg-opacity-75"
                          th:text="${#lists.size(question.commentList)}"></span>
                </button>


                <!-- 질문 수정 -->
                <a th:href="@{|/board/modify/${question.id}|}" class="btn btn-dark"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.member != null and #authentication.getPrincipal().getUsername() == question.member.username}"
                   th:text="수정"></a>

                <!-- 질문 삭제 -->
                <a href="javascript:void(0);" th:data-uri="@{|/board/delete/${question.id}|}"
                   class="delete btn btn-dark" sec:authorize="isAuthenticated()"
                   th:if="${question.member != null and #authentication.getPrincipal().getUsername() == question.member.username}"
                   th:text="삭제"></a>

                <!-- 질문 삭제(어드민) -->
                <a href="javascript:void(0);" th:data-uri="@{|/board/delete/${question.id}|}"
                   class="delete btn btn-dark" sec:authorize="hasRole('ROLE_ADMIN')"
                   th:text="삭제"></a>

                <!-- 질문 대댓글 -->
                <div id="commentQuestion" th:classappend="${qco_open} ? 'show'" class="accordion-collapse collapse">
                    <h5 class="border-bottom my-3 py-2"
                        th:text="|${#lists.size(question.commentList)}개의 답변이 있습니다.|"></h5>

                    <form th:action="@{|/comment/question/create/${question.id}|}" th:object="${answerForm}"
                          method="post" class="my-3">
                        <div th:replace="form_errors :: formErrorsFragment"></div>
                        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control"
                                  rows="3"></textarea>
                        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control"
                                  rows="3"></textarea>
                        <input type="submit" value="댓글등록" class="btn btn-primary my-2">
                    </form>

                    <!-- 대댓글 반복 시작-->
                    <div>
                        <div class="card my-3" th:each="qco_paging, loop : ${pageQuestComment}">
                            <a th:id="|qco_${qco_paging.id}|"></a>

                            <div class="d-flex justify-content-end">
                                <div class="m-1">
                                    <a href="javascript:void(0);"
                                       th:data-uri="@{|/comment/question/delete/${qco_paging.id}|}"
                                       class="delete btn btn-sm text-danger" sec:authorize="isAuthenticated()"
                                       th:if="${qco_paging.member != null and #authentication.getPrincipal().getUsername() == qco_paging.member.username}"
                                       th:text="X"></a>
                                </div>
                            </div>


                            <div class="m-3" th:utext="${@commonUtil.markdown(qco_paging.content)}">
                            </div>
                            <div class="m-2 d-flex justify-content-end">
                                <div class="badge bg-light text-dark p-2 text-start">
                                    <div class="mb-2">
                                        <span th:if="${qco_paging.member != null}"
                                              th:text="${#strings.substring(qco_paging.member.username, 0, 3) + '****'}"></span>
                                    </div>
                                    <div th:text="${#temporals.format(qco_paging.createDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- 대댓글 페이징 -->
                    <div th:if="${!pageQuestComment.isEmpty()}">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${!pageQuestComment.hasPrevious} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{|?qco_open=true&&qco_page_num=${pageQuestComment.number-1}|}">
                                    <span>이전</span>
                                </a>
                            </li>

                            <li th:each="page: ${#numbers.sequence(0, pageQuestComment.totalPages-1)}"
                                th:if="${page >= pageQuestComment.number-5 and page <= pageQuestComment.number+5}"
                                th:classappend="${page == pageQuestComment.number} ? 'active'"
                                class="page-item">
                                <a th:text="${page + 1}" class="page-link"
                                   th:href="@{|?qco_open=true&&qco_page_num=${page}|}"></a>
                            </li>

                            <li class="page-item" th:classappend="${!pageQuestComment.hasNext} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{|?qco_open=true&&qco_page_num=${pageQuestComment.number+1}|}">
                                    <span>다음</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- 대댓글 페이징 끝 -->

                </div>
            </div>
        </div>
    </div>
    <!-- 질문 대댓글 -->


    <!-- 답변 -->

    <h5 class="border-bottom mt-5 py-2" th:text="|${#lists.size(answerCommentDTOList)}개의 답변이 있습니다.|"></h5>
    <!-- 답변 반복 시작-->
    <div>
        <form th:action="@{|/board/detail/${question.id}|}" method="post" id="answer-main-form">
            <div class="card my-3 " th:each="pagedAnswer, loop : ${pageAnswer}">

                <a th:id="|answer_${pagedAnswer.id}|"></a>
                <div class="card-body">
                    <div class="card-header mb-3 d-flex justify-content-end p-0" sec:authorize="isAuthenticated()"
                         th:if="${pagedAnswer.member != null and #authentication.getPrincipal().getUsername() == pagedAnswer.member.username}">
                        <div class="pb-1" th:if="${question.chooseAnswer.id != pagedAnswer.id}">
                            <a th:href="@{|/board/choose/${question.id}/${pagedAnswer.id}|}"
                               class="btn-sm-noneoutline-ras d-flex justify-content-center">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="28"
                                         height="28"
                                         fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                                         class="text-gray-400">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"></path>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="pb-1" th:unless="${question.chooseAnswer.id != pagedAnswer.id}">
                            <a th:href="@{|/board/choose/delete/${question.id}/${pagedAnswer.id}|}"
                               class="btn-sm-noneoutline-ras d-flex justify-content-center">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="28"
                                         height="28"
                                         fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"></path>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="card-header mb-3 d-flex justify-content-end p-0" sec:authorize="isAuthenticated()"
                         th:if="${pagedAnswer.member != null and #authentication.getPrincipal().getUsername() != pagedAnswer.member.username}">
                        <div class="pb-1" th:if="${question.chooseAnswer.id != pagedAnswer.id}">
                            <div class="d-flex justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="28"
                                     height="28"
                                     fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                                     class="text-gray-400">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="pb-1" th:unless="${question.chooseAnswer.id != pagedAnswer.id}">
                            <div class="d-flex justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="28"
                                     height="28"
                                     fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                                     class="navbar-nav">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="card-header mb-3 d-flex justify-content-end p-0" sec:authorize="isAnonymous()">
                        <div class="pb-1" th:if="${question.chooseAnswer.id != pagedAnswer.id}">
                            <div class="d-flex justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="28"
                                     height="28"
                                     fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                                     class="text-gray-400">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="pb-1" th:unless="${question.chooseAnswer.id != pagedAnswer.id}">
                            <div class="d-flex justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="28"
                                     height="28"
                                     fill="none" viewBox="0 0 24 24"
                                     stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                                     class="navbar-nav">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                          d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>

                    <div class="card-text" th:utext="${@commonUtil.markdown(pagedAnswer.content)}"></div>
                    <div class="d-flex justify-content-end border-bottom">

                        <div class="d-flex align-items-center">
                            <div style="position: relative; width: 2.5rem; height: 2.5rem;" id="image_container_answer">
                                <a class="nav-link" href="/member/mypage">
                                    <img th:if="${pagedAnswer.member.snsImage}!=null"
                                         th:src="${pagedAnswer.member.snsImage}" alt="에러"
                                         class="shadow-sm rounded-circle text-center"
                                         style="position: absolute; top: 0; left: 0; transform: translate(50,50); height: 100%; width:100%; object-fit: cover; margin: auto">
                                    <img th:if="${pagedAnswer.member.snsImage}==null and ${pagedAnswer.member.image}==null"
                                         th:src="@{/img/noneuser.png}" alt="에러"
                                         class="shadow-sm rounded-circle text-center"
                                         style="position: absolute; top: 0; left: 0; transform: translate(50,50); height: 100%; width:100%; object-fit: cover; margin: auto">
                                    <img th:if="${pagedAnswer.member.snsImage}==null and ${pagedAnswer.member.image}!=null"
                                         th:src="@{|/resources/${pagedAnswer.member.image.name}|}" alt="에러"
                                         class="shadow-sm rounded-circle text-center"
                                         style="position: absolute; top: 0; left: 0; transform: translate(50,50); height: 100%; width:100%; object-fit: cover; margin: auto">
                                </a>
                            </div>
                        </div>

                        <div th:if="${pagedAnswer.modifyDate != null}"
                             class="badge bg-light text-dark p-2 text-start mx-3">
                            <div class="mb-2">수정시일</div>
                            <div th:text="${#temporals.format(pagedAnswer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                        </div>

                        <div class="badge bg-light text-dark p-2 text-start">
                            <div class="mb-2">
                            <span th:if="${pagedAnswer.member != null}"
                                  th:text="${#strings.substring(pagedAnswer.member.username, 0, 3) + '****'}"></span>
                            </div>
                            <div th:text="${#temporals.format(pagedAnswer.createDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <!-- 질문 답변 추천 -->
                        <a href="javascript:void(0);" class="like btn btn-sm btn-outline-secondary"
                           th:data-uri="@{|/answer/like/${pagedAnswer.id}|}">
                            추천
                            <span class="badge rounded-pill bg-danger bg-opacity-75"
                                  th:text="${#lists.size(pagedAnswer.likeMembers)}"></span>
                        </a>

                        <!-- 질문 답변 댓글 아코디언 -->
                        <a class="btn btn-sm btn-outline-secondary"
                           data-bs-toggle="collapse"
                           th:data-bs-target="'#commentAnswer' + ${pagedAnswer.id}"
                           th:aria-controls="'commentAnswer' + ${pagedAnswer.id}" aria-expanded="false">
                            댓글
                            <span class="badge rounded-pill bg-danger bg-opacity-75"
                                  th:text="${#lists.size(pagedAnswer.commentList)}"></span>
                        </a>

                        <!-- 질문 답변 수정 -->
                        <a th:href="@{|/answer/modify/${pagedAnswer.id}|}"
                           class="btn btn-sm btn-outline-secondary"
                           sec:authorize="isAuthenticated()"
                           th:if="${pagedAnswer.member != null and #authentication.getPrincipal().getUsername() == pagedAnswer.member.username}"
                           th:text="수정"></a>

                        <!-- 질문 답변 삭제 -->
                        <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${pagedAnswer.id}|}"
                           class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                           th:if="${pagedAnswer.member != null and #authentication.getPrincipal().getUsername() == pagedAnswer.member.username}"
                           th:text="삭제"></a>

                        <!-- 질문 답변 삭제(어드민) -->
                        <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${pagedAnswer.id}|}"
                           class="delete btn btn-sm btn-outline-secondary" sec:authorize="hasRole('ROLE_ADMIN')"
                           th:text="삭제"></a>

                        <!-- 답변 대댓글 -->
                        <div th:id="'commentAnswer' + ${pagedAnswer.id}"
                             th:classappend="${answerCommentDTOList.get(loop.index).open} ? 'show'"
                             class="accordion-collapse collapse">
                            <h5 class="border-bottom my-3 py-2"
                                th:text="|${#lists.size(pagedAnswer.commentList)}개의 답변이 있습니다.|"></h5>

                            <form th:action="@{|/comment/answer/create/${question.id}/${pagedAnswer.id}|}"
                                  th:object="${answerForm}"
                                  id="createAnswer"
                                  method="post" class="my-3">
                                <div th:replace="form_errors :: formErrorsFragment"></div>
                                <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}"
                                          class="form-control"
                                          rows="3"></textarea>
                                <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control"
                                          rows="3"></textarea>
                                <input type="submit" value="댓글등록" form="createAnswer" class="btn btn-primary my-2">
                            </form>

                            <!-- 답변 대댓글 반복 시작-->

                            <div>
                                <div class="card my-3"
                                     th:each="aco_paged, loop : ${answerCommentDTOList.get(loop.index).comment}">

                                    <div class="d-flex justify-content-end">
                                        <div class="m-1">
                                            <a href="javascript:void(0);"
                                               th:data-uri="@{|/comment/question/delete/${aco_paged.id}|}"
                                               class="delete btn btn-sm text-danger"
                                               sec:authorize="isAuthenticated()"
                                               th:if="${aco_paged.member != null and #authentication.getPrincipal().getUsername() == aco_paged.member.username}"
                                               th:text="X"></a>
                                        </div>
                                    </div>


                                    <div class="m-3" th:utext="${@commonUtil.markdown(aco_paged.content)}">
                                    </div>
                                    <div class="m-2 d-flex justify-content-end">
                                        <div class="badge bg-light text-dark p-2 text-start">
                                            <div class="mb-2">
                                            <span th:if="${aco_paged.member != null}"
                                                  th:text="${#strings.substring(aco_paged.member.username, 0, 3) + '****'}"></span>
                                            </div>
                                            <div th:text="${#temporals.format(aco_paged.createDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- 답변 대댓글 페이징 끝 -->

                            <div th:if="${!answerCommentDTOList.get(loop.index).comment.isEmpty()}">
                                <div class="pagination justify-content-center">
                                    <div th:each="pageACO: ${#numbers.sequence(0, answerCommentDTOList.get(loop.index).comment.totalPages-1)}"
                                         th:if="${pageACO >= answerCommentDTOList.get(loop.index).comment.number-5 and page <= answerCommentDTOList.get(loop.index).comment.number+5}"

                                         class="page-item">

                                        <input type="hidden"
                                               th:name="'answerCommentDTOList['+${loop.index}+'].open'"
                                               th:value="${true}">
                                        <label>
                                            <button th:classappend="${pageACO == answerCommentDTOList.get(loop.index).pageNum} ? 'active'"
                                                    class="page-link"
                                                    type="submit"
                                                    th:name="'answerCommentDTOList['+${loop.index}+'].pageNum'"
                                                    th:value="${pageACO}"
                                                    th:text="${pageACO}+1"
                                                    form="answer-main-form">
                                            </button>
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <!-- 답변 반복 끝 -->

    <div th:if="${!pageAnswer.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!pageAnswer.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page_num=${pageAnswer.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, pageAnswer.totalPages-1)}"
                th:if="${page >= pageAnswer.number-5 and page <= pageAnswer.number+5}"
                th:classappend="${page == pageAnswer.number} ? 'active'"
                class="page-item">
                <a th:text="${page + 1}" class="page-link"
                   th:href="@{|?page_num=${page}|}"
                ></a>
            </li>
            <li class="page-item" th:classappend="${!pageAnswer.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page_num=${pageAnswer.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>


    <!-- 답변 작성 -->
    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
        <div th:replace="form_errors :: formErrorsFragment"></div>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control"
                  rows="10"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control"
                  rows="10" id="answer-content"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>

</div>


<script layout:fragment="script" type='text/javascript'>
    var simplemde = new SimpleMDE({element: document.getElementById("answer-content")});

    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            debugger
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });

    const like_elements = document.getElementsByClassName("like");
    Array.from(like_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            debugger
            if (confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });
</script>
</html>